<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./parties/head'); %>
</head>
<body>

<!-- ----------------------Nav----------------- -->

<%- include('./parties/nav'); %>
    


  <!-- ----------------------footer----------------- -->
<div class=" row d-flex align-content-end">

  <%- include('./parties/footer'); %>
</div>

<%- include('./parties/script'); %>
</body>
</html>