<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./parties/head'); %>
</head>
<body>

<!-- ----------------------Nav----------------- -->

<%- include('./parties/nav'); %>
    


  <!-- ----------------------footer----------------- -->
  <%- include('./parties/footer'); %>

  <%- include('./parties/script'); %>
  </body>
</html>