html, body {
    height:100%;
    margin:0;
    padding:0;
    }

.navbar {
    background-color: #1f2935; 
}


.navbar .navbar-nav .nav-link {
    color: #fff; 
}

.navbar .navbar-nav .nav-link:hover { 
    color: #f38a21; 
}

.navbar .navbar-nav .active >  .nav-link { 
    color: #f48a1d; 
}
.nav-link:hover
{
  border-bottom: 2px solid #f48a1d;
}

/****************ourCustomer******************/

.carousel{
    background-color: black;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.637)), to(rgba(0, 0, 0, 0.637))), url("../media/pexels-li-sun-2294361.jpg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.637)), url("../images/158279493_1412853609061935_6405417567853623229_n.png");
  background-repeat: no-repeat;
  background-size:auto;
  background-attachment: fixed;
}
.img{
    width: 30vw;
    height: 30vh;
    margin: 5vw;
}

/*********************footer******************/

.footer{
    background: #1f2935;
}

.footerHead{
    color: #f38a21;
}


.footerLinks{
    text-decoration: none;
    
}
.footerLinks:hover{
    color: #f38a21;
}

/*  */

.card{
    background-color: #f5f1f1;
}


/*********************Card******************/
.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #212121
}

.cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121
}



.btn {
    border-radius: 0
}

.img-thumbnail {
    border: none
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px
}